
@{
    ViewBag.Title = "homepage";
}

<h2>homepage</h2>

<div>
    <input type="button" value="Get message" onclick="js_button_click();" />
</div>


@* Layout 'a    <script src="~/Home/button_click_method"></script>  eklendi yoksa çalışmazdı dikkat et sayfaya ilgili scripti yazmalısın.*@